@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
    --primary-gold: #D4AF37;
    --primary-blue: #2B6DA8;
    --primary-yellow: #EADAA2;
    --primary-red: #9B3D3D;
    --primary-teal: #005B5C;
    --primary-grey: #333333;
    --primary-beige: #F4E1C1;
    --transparent-gold: rgba(212, 175, 55, 0.9);
}

@layer base {
    * {
        @apply font-[Cairo]
    }

    h1 {
        @apply text-4xl font-bold
    }

    li {
        @apply p-4
    }

    button {
        @apply rounded-3xl
    }
}