@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
  --primary-gold: #d4af37;
  --primary-blue: #2b6da8;
  --primary-yellow: #eadaa2;
  --primary-red: #9b3d3d;
  --primary-teal: #005b5c;
  --primary-grey: #333333;
  --primary-beige: #f4e1c1;
  --transparent-gold: rgba(212, 175, 55, 0.9);
}

@layer base {
  * {
    @apply font-[Cairo];
  }

  h1 {
    @apply text-4xl font-bold;
  }

  li {
    @apply p-4;
  }

  button {
    @apply rounded-3xl bg-gradient-to-r from-[var(--primary-teal)] to-[var(--primary-blue)] text-[var(--primary-yellow)] font-bold hover:scale-110 ease-in-out duration-300;
  }
}

.border-teal-custom {
  border-bottom-width: 4px;
  border-bottom-color: var(--primary-teal);
}
